<!DOCTYPE html>
<html>
<head>
  <title>Google Classroom API</title>
</head>
<body>
  <h1>Google Classroom API</h1>
  <a href="<%= authUrl %>">Authorize Google Classroom API</a>
</body>
</html>
