@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White background start */
  --background-end-rgb: 255, 255, 255;   /* White background end */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0, 0, 0); /* Set text color to black */
  background: rgb(255, 255, 255); /* Set background to white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css */
.sweet-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8); /* Optional: adds a translucent background */
  z-index: 9999; /* Ensure the spinner is on top of other content */
}
